.box {
  min-height: 150px;
}

#boxA {
  background-color: #2A457A;
}

#boxB {
  background-color: #099DD9;
}

#boxC {
  background-color: #0C8542;
}

#boxD {
  background-color: #EC1D3B;
}

#boxE {
  background-color: #F79420;
}