.box {
  min-height: 150px;
}

#boxA {
  background-color: #1C4587;
}

#boxB {
  background-color: #3C78D8;
}

#boxC {
  background-color: #C9DAF8;
}

#boxD {
  background-color: #D5DFEF;
}

#boxE {
  background-color: #DFE1E5;
}